Flask==2.3.3
Flask-SQLAlchemy==3.0.2
SQLAlchemy==2.0.20
pymysql>=1.1.1
# mariadb>=1.0.11
kubernetes==26.1.0
prometheus-client==0.19.0 
python-logging-loki==0.3.1 
flask-prometheus-metrics==1.0.0

psutil
pydantic
pytest
pytest-mock==3.14.0
